*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background:  #809B6A;
} 
/*Menu Menor. Copia do menu maior só que menor e com icones resumindo o menu maior */ 
.menu-menor{
    width: 70px;
    height: 100%;
    background: #395224;
    position: fixed;
    float: left;
    box-shadow: 8px 16px 14px 0px rgba(5,5,5,0.6);
}
/*Deixando os icones no meio de com display flex */ 
.menu-icons{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Deixando os icones com um tamanho definido. A definir com o figma (Arthur/Bea ) */
.icons{
    width: 30px;
    height: 30px;
    margin: 10px;
}
/* Secão do menu lateral*/
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
    position: fixed;
    float: left;
    background: #395224;
    height: 100%;
    width: 15%;
    box-shadow: 8px 16px 14px 0px rgba(5,5,5,0.6);
}
/* Classe que fecha tanto o menu maior quanto o menor, bem util para o JS */ 
.menu-fechado{
    display: none;
}
/* Classe da lista ornadada UL */
.list-ordenato{
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* Distancia da lista */ 
.list{
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 5px;
    margin: 10px 0px;
}
/* Classe dos links para zeralos ao comum */ 
.links{
    color: black;
    text-decoration: none;
    font-size: 15pt;
}
/* Classe da seção da à direita do header. #CUIDADO */ 
main{
    width: 85%;
    float: right;
}


