*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background:  #809B6A;
} 
/*Menu Menor. Já responsivo e ajeitado */ 
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 5%;
    height: 100%;
    background: #395224;
    position: fixed;
    float: left;
    box-shadow: 8px 16px 14px 0px rgba(5,5,5,0.6);
}
/* Parte do texto ao lado */ 
.menu .logo{
    display: flex;
    align-items: center;
}
/*Parte do perfil no topo. ================================AINDA DEVE SER COLOCADA A DEVIDA RESPONSIVIDADE*/ 
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* Deixando os icones com um tamanho definido. A definir com o figma (Arthur/Bea ) */
.icons{
    width: 30px;
    height: 30px;
    margin: 10px;
}
/* Classe da lista ornadada UL */
.list-ordenato{
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* Distancia da lista */ 
.list{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px 0px;
}
/* ==========Texto com transitição e aparecendo o texto ========= */ 
.text-ok{
    display: block;
    transition: all 0.5s ease ;
    opacity: 1;
}
/* ==========Desaparecendo com o texto ========= */ 
.text{
display: none;
}
/* Classe dos links para zeralos ao comum */ 
.links{
    color: black;
    text-decoration: none;
    font-size: 15pt;
}
/* Classe da seção da à direita do header. #CUIDADO */ 
main{
    width: 85%;
    float: right;
}


