@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #395224;
    --blue: #077442;
    --purple: #2c0076;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

* > img {
    user-select: none;
}

/* Css link para o scroll estar lento */
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: #395224;
    /* background total do body, deve ser mudado caso a seção tenha outra cor  */
}

/* ==========Menu Menor. Já responsivo e ajeitado========== */
.hamburger {
    display: none;
}

.hamburger-nav {
    display: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 132px;
    height: 100%;
    background: #395224;
    position: fixed;
    float: left;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.35);
    user-select: none;
    z-index: 1;
}

/* Tamanho da barra lateral quando aberta */
.menu-open {
    width: 282px;
    transition: all 0.4s ease;
}

/* Tamanho da barra lateral quando Fechada */
.menu-close {
    width: 132px;
    transition: all 0.5s ease;
}

.openButton {
    position: relative;
    left: 57px;
    bottom: 50px;
}

/* Botão mais a direita quando o menu aberto */
.lateralButtonLeft {
    position: relative;
    left: 10px;
    transition: all 0.3s ease;
}

/* Botão mais a esquerda quando o menu fechado */

.lateralButtonRight {
    left: 0;
}

.lateralButton>img {
    filter: brightness(0) saturate(100%) invert(94%) sepia(96%) saturate(0%) hue-rotate(290deg) brightness(109%) contrast(101%);
    width: 20px;
    position: relative;
}

.lateralButton>img:hover {
    filter: brightness(0) saturate(100%) invert(94%) sepia(96%) saturate(0%) hue-rotate(290deg) brightness(95%) contrast(101%) opacity(85%);
    cursor: pointer;
    transition: 0.3s;
}



.logo-img {
    width: 95px;
    height: 75px;
    margin-left: 25px;
}


/* ==========Texto ao lado da logo========== */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 45px;
}

.main-menu-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 110px;
}

/*Parte da logo do código */

aside>hr {
    margin-bottom: 20px;
    width: 75%;
    filter: brightness(0) saturate(100%) invert(94%) sepia(20%) saturate(193%) hue-rotate(34deg) brightness(98%) contrast(94%) opacity(40%);
}


/* Deixando os icones com um tamanho definido. A definir com o figma (Arthur/Bea ) */
.icons {
    width: 30px;
    height: 30px;
    margin: 10px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.list>a>img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(71%) saturate(234%) hue-rotate(26deg) brightness(97%) contrast(94%);
}

/* Classe da lista ordenada UL */
.list-ordenato {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
}

/* Distancia da lista */
.list {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px 0px;
    color: #fff;
}

/* Estilização dos ícones e boxes dos elementos */
.list>img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(71%) saturate(234%) hue-rotate(26deg) brightness(97%) contrast(94%);
}

li>span {
    padding: 0px 20px 0px 0px;
}

.list {
    background-color: #57822e85;
    border-radius: 5px;
}

/* Hover dos elementos da bara lateral */

.list:hover {
    background-color: #73a43e9b;
    cursor: pointer;
    transition: 0.2s;
}


/* Diferença de paddings nos Items do Menu Lateral */

.padding-diff-1 {
    padding: 0px 102px 0px 0px;
}

.padding-diff-2 {
    padding: 0px 94px 0px 0px;
}

.padding-diff-3 {
    padding: 0px 79px 0px 0px;
}

.padding-diff-4 {
    padding: 0px 66px 0px 0px;
}

.padding-diff-5 {
    padding: 0px 107px 0px 0px;
}

/** ==========Texto com transitição e aparecendo o texto ========= JS CLASS ======== */
.text-ok {
    display: block;
    transition: all 0.5s ease;
    opacity: 1;
    color: rgba(255, 255, 255, 0.907);
}

.text {
    display: none;
}

/** ==========Desaparecendo com o texto =========  */


/* ==========Switch para mudar o tema da página========== */
.icons-tema {
    display: flex;
    height: 50px;
}

.icons-tema>img:hover {
    filter: brightness(0) saturate(100%) invert(86%) sepia(6%) saturate(2355%) hue-rotate(38deg) brightness(75%) contrast(80%);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.icons-tema>img {
    filter: brightness(0) saturate(100%) invert(86%) sepia(6%) saturate(2355%) hue-rotate(38deg) brightness(109%) contrast(80%);
    padding-top: 20px;
    width: 25px;
    margin: 0px 10px 0px 10px;
}

.switch__container {
    margin: 30px auto;
    width: 60px;
}

.switch {
    visibility: hidden;
    position: absolute;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow+label {
    padding: 2px;
    width: 60px;
    height: 20px;
    background-color: #000000;
    border-radius: 20px;
}

.switch--shadow+label:before,
.switch--shadow+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.switch--shadow+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}

.switch--shadow+label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.163);
    transition: all 0.4s;
}

.switch--shadow:checked+label:before {
    background-color: #000000;
}

.switch--shadow:checked+label:after {
    transform: translateX(39px);

}

/* ==========Fim do switch ================= */

/*  Footer do menu lateral  */

.perfil {
    background-color: #314522e0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-perfil {
    width: 24px;
    filter: brightness(0) saturate(100%) invert(96%) sepia(10%) saturate(1119%) hue-rotate(28deg) brightness(91%) contrast(87%);
}

.usuario {
    padding-left: 5px;
    padding-right: 5px;
}

.usuario>span {
    font-size: 0.9rem;
    color: white;
}

/* ==========Classe da seção da à direita do header.========== #CUIDADO */
main {
    margin-top: 20px;
    width: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
}

/* Tamanho do header */
/* Primeira seção do main demoninada home por ser do começo */
.section-home {
    width: 100%;
    padding-bottom: 50px;
    background-color: #364a1b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Div pai do carrossel */
.slider-main-container {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    width: 75%;
    background-color: #37561eaf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 10px 16px -7px #121e09;
}

.slider {
    margin-top: 25px;
    width: 95%;
    height: 541px;
    border-radius: 10px;
    overflow: hidden;
}

/* Div dos inputs e imagens do carrossel */
.slides-inpts {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides-inpts input {
    display: none;
}

/* Div de cada imagem separadamente */
.slides-img {
    width: 20%;
    transition: 2s;
}

.slides-img img {
    width: 100%;
    height: 541px;
}

/* ================================Slides labels para navegação manual ==================*/
/* Defininando a div geral dos labels e onde vão ficar */
.slides-labels {
    width: 800px;
    height: 20px;
    margin-top: 10px;
    padding-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: relative;
    flex-wrap: wrap;
}

/* Tamanho, cor e distancia de cada label */
.slides-btn {
    width: 91px;
    height: 4px;
    background: #e3e3e38d;
    flex-wrap: wrap;
    cursor: pointer;
}

.slides-btn:hover {
    transition: 0.3s;
    background: #f8f8f8;
}

/* Movimentação do carrossel */
#radio-slides1:checked~.first {
    margin-left: 0;
}

#radio-slides2:checked~.first {
    margin-left: -20%;
}

#radio-slides3:checked~.first {
    margin-left: -40%;
}

/* Div do select para interatividade do site */

.import {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    justify-content: center;
    color: white;
}

.dropdown-list {
    width: 1000px;
    height: auto;
    padding: 20px 40px 20px 20px;
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #426724af;
}

/* Estilo de cada caixa de lista */
.dropdown {
    width: 300px;
    margin: 20px;
    box-shadow: 0px 3px 8px 1px rgba(14, 30, 1, 0.500);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 220px;
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.scroll-green {
    scrollbar-color: #5b7c40 var(--green);
}

.scroll-blue {
    scrollbar-color: hsl(95, 30%, 54%) var(--blue);
}

.scroll-purple {
    scrollbar-color: #71569f var(--purple);
}


.dropdown-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: "Poppins", sans-serif;
}

.arrow-dropdown {
    position: relative;
    right: 50px;
    width: 20px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(1%) saturate(2669%) hue-rotate(345deg) brightness(118%) contrast(95%);
    cursor: pointer;
    transform: rotate(180deg);
    user-select: none;
}

.arrow-dropdown:hover {
    transition: 0.3s;
    filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(3411%) hue-rotate(136deg) brightness(94%) contrast(82%);
}

/* Classe para deixar a lista do dropword sem a visualização */
.list-close {
    display: flex;
    flex-direction: column;
    visibility: none !important;
    width: 100%;
    visibility: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* Classe para deixar a lista do dropword com a visualização */
.list-open {
    background: rgba(255, 255, 255, 0.887);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: 0.4s;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
}

.events-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-name {
    font-weight: 500;
}

.indisp {
    filter: brightness(0) saturate(100%) invert(15%) sepia(82%) saturate(2631%) hue-rotate(350deg) brightness(91%) contrast(87%);
}

.disp {
    filter: brightness(0) saturate(100%) invert(52%) sepia(73%) saturate(5304%) hue-rotate(64deg) brightness(90%) contrast(90%);
}

.events-date>img {
    width: 21px;
    height: 21px;
}

.events-date {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 3px;
}

.list-close>span {
    padding: 15px;
    border-bottom: 1px solid black;
}

.list-open>span {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.500);
}

.list-open>.last-child-dd {
    padding-bottom: 20px;
    border-bottom: none;
}

/* Estilização da Tabela/Calendário */
.section-calendar,
.section-questions,
.section-reserves {
    margin: 100px 0px 0px 0px;
}

.section-calendar {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-main {
    width: 60%;
    height: 100%;
    border-left: 20px solid #446724;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    background-color: #456e26;
    color: white;
    margin-bottom: 60px;
    padding: 10px;
    box-shadow: -1px -3px 5px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;

}

.line-calendar {
    width: 95%;
    margin-left: 30px;
    border: solid 1px #00000021;
    margin-bottom: 25px;
}

.sports-calendar {
    width: 60%;
    height: auto;
    padding: 30px;
    background: #4c7130;
    border-radius: 15px;
    border-left: 20px solid #446724;
    font-size: 25px;
    text-align: center;
    color: white;
}

.esportes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.intervalos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;

}

.line-sports {
    width: 100%;
    border: 1px solid #00000021;
}

.calendar-header {
    width: 100%;
    position: relative;
    bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center
}

.mes {
    height: 220px;
}

.calendar-header>div>span>legend {
    width: 100%;
    padding: 20px 100px;
    font-weight: 400;
    background-color: #446724;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    right: 10px;
}

.styled-box-calendar {
    background-color: #385a1e;
    position: relative;
    width: 70%;
    height: 150px;
    float: right;
    position: relative;
    left: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 15px;
}

.styled-box-calendar>p {
    opacity: 0;
}

.semana {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 10px;
    justify-content: center;
    margin: 10px;

}

.dias {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    margin: 10px;
}


/* Seção do horarios de reservar */
.section-reserves {
    width: 100%;
    background: #3E5E27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Caixinha de cada horarío um pouco estilizada de acordo com a do carrossel  */
.resever-main-container {
    margin: 50px 10px 65px 10px;
    padding: 30px 30px 50px 30px;
    display: flex;
    width: 70%;
    background-color: #37561eaf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;    
    box-shadow: 0px 10px 16px -7px #121e09;
    outline: 1px solid #1b38046e;

}

.resever-main-container h2 {
    color: white;
}

/* Div dos horarios que sera clicada */
.drop-horarios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 90%;
    height: 87px;
    background: #D9D9D9;
    border-radius: 20px 20px 20px 20px;
    opacity: 60%;
}

.drop-horarios h2 {
    color: black;
    opacity: 60%;
}

.h2-padding-1 {
    text-align: center;
    width: 240px;
    text-align: start;
}

.h2-padding-2 {
    text-align: center;
    width: 240px;
    text-align: start;
}

/* Padding de alinhamento dos elementos */
.h2-padding-3 {
    width: 240px;
    text-align: start;
}

.h2-padding-4 {
    width: 240px;
    text-align: start;
}

.h2-padding-5 {
    width: 240px;
    text-align: start;
}

.drop-border {
    border-radius: 20px 20px 0px 0px;
}

.drop-off-border {
    border-radius: 20px 20px 20px 20px;
}

.drop-horarios img {
    user-select: none;
}

/* Estilização da seta do dropdowmn dos horarios  */
.seta-dropwdown {
    width: 27px;
    height: 45px;
    transform: rotate(180deg);
}

.note-icon {
    width: 45px;
    height: 54px;
}

/* CUIDADO AO MEXER. Classe contendo dropwdown ainda a ser colocado. inico do drop com display none. Ser necessário Js */
.reserv-close {
    display: none;
}


/* DIV DO QUE VAI APARECER AO CLICAR NO DROPDOWN  */
.reserv-open {
    width: 90%;
    background-color: #d9d9d9;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 30px;
}

/* Estilização das seleções de esportes  */
/* Div pai da de todos os reservs open  */
.inpts-drop {
    width: 100%;
    height: 100%;
}

/* Div pai da parte de cima, com os checkbox buttons */
.inpts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* Tamanho dos checkbox buttons e distaciamento */
input[type="checkbox"] {
    width: 23px;
    height: 26px;
    margin: 0px 10px 10px 0px;
}

/* Div filho da parte de cima, com os checkbox buttons */
.checks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

/* Div da parte de vestiarios abertos  */
.vest {
    gap: 15px;
    width: 100%;
    display: flex;
}

/* Div das obserbvações e textarea */

/* Estilização do bloco de selação check dos esportes  */
.esportes-check {
    display: flex;
    flex-direction: column;
}

/* Estilização do fim com observações e o botão solicitar   */
.footer-drop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.obs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.solit {
    width: 200px;
    font-size: 16px;
    background-color: #314522;
    color: #fff;
    border-radius: 31px;
    border: none;
    user-select: none;
}
    /* Estilização do input text  */
    #observ {
        width: 300px;
        height: auto;
        padding-bottom: 50px;
    }



/*Fim do dropdowmn */
/* Fim da seção dos horarios da reserva */
/* Inicio da seção das duvidas */
.section-questions {
    width: 95%;
    height: 750px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coments-main-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 75%;
    background-color: #37561eaf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 10px 16px -7px #121e09;
    position: relative;
    left: 50px;
}

/*Algumas estilização da caixa das dúvidas, necessita-se de muita estilização */
.div-questions {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 50px 0px 50px 25px;
}

/* Afastamento entre os textos  */
.div-questions h2,
.div-questions h3,
.list-prgts {
    margin: 5px 0px 5px 0px;
}

/* texto das perguntas frequentes com fonte maior */
.div-questions h2 {
    font-size: 32px;
}

/* Fonte das perguntas em si maiores e mais a direita */
.div-questions h3 {
    margin-left: 5px;
    font-size: 25px;
}

/* Classe da li das respostas das perguntas frequentes */
.li-prgts {
    margin-left: 35px;
    font-size: 25px;
}

/* Caixa pai de onde os comentarios vão ficar */
.coments {
    width: 55%;
    height: auto;
    border-radius: 17px;
    background: #ffffff;
    margin: 10px 0px;
    font-size: 16px;
}

/* Tamnho dos icones dos comentarios */
.coments img {
    width: 20px;
    height: 20px;
    user-select: none;
}

/* Div da parte de cima dos comentarios, onde fica o perfil, like/deslike, etc */
.coments-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;

}

/* Classe da parte de onde fica os comentarios de fato, como "Aplicativo lento" */
.feedback {
    padding: 20px 0px 50px 30px;
}

/* Fim da seção das dúvidas e comentarios. */